body {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #222222;
    border: none;
}

main {
    width: 80%;
    max-width: 1000px;
}


button {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.maincolor {
    color: #ffffff
}

.seperator {
    height: 0.5px;
    background-color: #ffffff;
}

#texteingabe {
    width: 100%;
    max-width: 400px;
    max-height: 20px;
    background-color: #303133;
    color: #87b2c6;
    border: none;
    border-radius: 5px;
}