:root {
    --font-family1: 'DM Mono', monospace;
    --font-family2: 'DM Sans', sans-serif;
    --secundary-bg-color: #303133;
    --primary-bg-color: #222222;
    --secundary-text-color: #bdc1c6;
    --primary-text-color: #ffffff;
    --border-color: rgb(47, 51, 54);

}

body {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-bg-color);
    border: none;
}

main {
    width: 60%;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}


.font {
    color: var(--primary-text-color);
    font-weight: 200;
    font-family: var(--font-family2);
}

.row {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.stopwatch-format {
    margin-left: 10px;
    width: 120px;
}

/*seperators*/
.right_seperator {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.left_seperator {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-color);
}

.top_seperator {
    border-top-width: 1px;
    border-top-color: var(--border-color);
    border-top-style: solid;
}

/*aligning*/
.align_self_center {
    align-self: center;
}

.align_text_center {
    text-align: center;
}


/*svg*/
.svg-container {
    width: 25px;
    height: 25px;
    margin-right: 4px;
}

.svg-container svg {
    width: 90%;
    height: 90%;
    display: block;
    align-items: center;
}

/*request*/
.request-container {
    display: flex;
    align-items: center;
    background-color: var(--secundary-bg-color);
    margin: 5px;
    color: var(--secundary-text-color);
}

.textarea-container {
    width: 100%;
}

textarea {
    display: flex;
    width: 100%;
    resize: none;
    overflow: hidden;
    max-height: 200px;
    /* Set the maximum height */
    background-color: var(--secundary-bg-color);
    color: var(--secundary-text-color);
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;

}

.button {
    background-color: var(--secundary-bg-color);
    border: none;
    cursor: pointer;
    fill: var(--secundary-text-color);
}

textarea:focus {
    outline: none;
}